{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<section id="nosotros">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Aperiam, quod, voluptatem. Accusantium, adipisci.</p>
      </div>
      <div class="col-md-6">
        <h2>Nuestro Equipo</h2>
        <ul>
          <li>Tejon</li>
          <li>Darien</li>
          <li>Italiano</li>
          <li>Simio</li>
        </ul>
        <h2>Dirección</h2>
        <p>Mi Casa 123</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

